class Person {
 
  function(name, age) { this.name = name; this.age = age; }

  greet: {|| "Hello, my name is #{this.name} and I'm #{this.age}"}
}

var p = new Person("Peter", 25);
console.log(p.greet());

class Employee < Person {
 
  function(name, age, job) { this.job = job; this.initParent(name, age); }

  work: {|| "Hello, my name is #{this.name} and I'm working as #{this.job}" }
}

var p = new Employee("Peter", 25, "Hacker");
console.log(p.work());
